h1{
color: teal;
font-size: 100px;
}

#flowerwolf{
  height: 300px;
  width: 400px;
}
#smallpoem{
  color: pink;
  font-size: 30px;
  font-style: italic;
  font-family: cursive;
}

#shortsentence{
  color: coral;
  font-size: 30px
}
#wolves{
  height: 300px;
  width: 200px;
}
