h1{
color: currant;
font-size: 100px;
}

#flowerwolf{
  height: 200px;
  width: 300px;
}
#smallpoem{
  color: coconut;
  font-size: 30px;
  font-style: italic;
  font-family: cursive;
}

#wolves{
  color: mulberry ;
  font-size: 30px
}
