h1{
color: gold;
font-size: 100px;
}

#flowerwolf{
  height: 200px;
  width: 300px;
}
#smallpoem{
  color: pink;
  font-size: 30px;
  font-style: italic;
  font-family: cursive;
}

#wolves{
  color: gray;
  font-size: 30px
}
